<TITLE>Package: lang/lisp/doc/standard/ansi/clos/</TITLE>
<hr>
<b>CMU Artificial Intelligence Repository</b><br>
<tt><A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/air.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/home.gif" ALT="Home"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/rep_info.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/info.gif" ALT="INFO"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/keys/keysform.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/search.gif" ALT="Search"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/faqs/top.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/faqs.gif" ALT="FAQs"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/0.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/top.gif" ALT="Repository Root"></A>  </tt>
<hr>
<H2>CLOS SPEC: Common Lisp Object System Specification</H2>
<pre>
<A HREF="./">lang/lisp/doc/standard/ansi/clos/</A>
</pre>
<listing>
TeX sources and DVI files for the CLOS Specification.
</listing>
<pre>
See Also: 

   <A HREF="/afs/cs/project/ai-repository/ai/lang/lisp/oop/clos/0.html">lang/lisp/oop/clos/</A>
</pre>
<pre>
Origin:   

   <A HREF="ftp://parcftp.xerox.com/pub/pcl/doc/">parcftp.xerox.com:/pub/pcl/doc/</A>
</pre>
<hr>
<listing>
Version:      15-JUN-88 draft

Copying:      Free use, copying, distribution.

CD-ROM:       Prime Time Freeware for AI, Issue 1-1

Mailing List: comp.lang.clos
              Gatewayed to the mailing list CommonLoops@cis.ohio-state.edu,
              which is the same as comp.lang.clos@cis.ohio-state.edu.
              The mailing list is archived on nervous.cis.ohio-state.edu in
              the directory pub/lispusers/commonloops.

Author(s):    Daniel G. Bobrow, Linda G. DeMichiel, Richard P. Gabriel,
              Sonya E. Keene, Gregor Kiczales, and David A. Moon.

Contact:      Common-Lisp-Object-System-Specification@sail.stanford.edu
              is a small mailing list that goes to the designers of CLOS.
              
              Gregor Kiczales <gregor@parc.xerox.com>
              Xerox PARC
              3333 Coyote Hill Rd.
              Palo Alto, CA 94304
              Tel: 415-812-4888
              Fax: 415-812-4334

Keywords:

   ANSI Lisp, Authors!Bobrow, Authors!DeMichiel, 
   Authors!Gabriel, Authors!Keene, Authors!Kiczales, 
   Authors!Moon, CLOS Specification, CLOS!Standards, 
   Lisp!Standards, Standards!CLOS, Xerox PARC

References:   ?

</listing><hr>
<address>Last Web update on Mon Feb 13 10:31:04 1995 <br>
<A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/air.html">AI.Repository@cs.cmu.edu</A></address>
