<TITLE>Package: lang/lisp/doc/standard/ansi/</TITLE>
<hr>
<b>CMU Artificial Intelligence Repository</b><br>
<tt><A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/air.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/home.gif" ALT="Home"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/rep_info.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/info.gif" ALT="INFO"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/keys/keysform.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/search.gif" ALT="Search"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/faqs/top.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/faqs.gif" ALT="FAQs"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/0.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/top.gif" ALT="Repository Root"></A>  </tt>
<hr>
<H2>dpANSI CL: Draft ANSI Standard for Common Lisp</H2>
<pre>
<A HREF="./">lang/lisp/doc/standard/ansi/</A>
</pre>
<listing>
TeX sources and Unix-compressed DVI files for the draft proposed
American National Standard for Common Lisp. Note that the document is
approximately 1,300 pages long when printed out.

Hard copies of the draft may be purchased from 
   Global Engineering Documents, Inc.
   2805 McGaw Avenue
   Irvine, CA  92714
   1-800-854-7179
   714-261-1455 
for a single copy price of $80 ($104 international).
</listing>
<pre>
Origin:   

   <A HREF="ftp://parcftp.xerox.com/pub/cl/dpANS1/">parcftp.xerox.com:/pub/cl/dpANS1/*</A>
</pre>
<hr>
<listing>
Copying:      Free use, copying, distribution

Updated:      9/23/93

CD-ROM:       Prime Time Freeware for AI, Issue 1-1

Author(s):    X3J13

Contact:      X3 Secretariat
              Attn: Lynn Barra
              1250 Eye Street NW, Suite 200
              Washington, DC 20005-3922
              
              American National Standards Institute
              Attn: BSR Center
              11 West 42nd St., 13th Floor
              New York, NY 10036

Keywords:

   ANSI Lisp, Lisp, Lisp!Standards, MOP, Standards!ANSI Lisp

Contains:

   mop/         Draft Meta-object protocol
   document/    The draft standard
   cleanup/     Materials related to the Cleanup Committee

References:   ?

</listing><hr>
<address>Last Web update on Mon Feb 13 10:31:05 1995 <br>
<A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/air.html">AI.Repository@cs.cmu.edu</A></address>
