<TITLE>Package: lang/lisp/doc/standard/ansi/mop/</TITLE>
<hr>
<b>CMU Artificial Intelligence Repository</b><br>
<tt><A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/air.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/home.gif" ALT="Home"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/rep_info.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/info.gif" ALT="INFO"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/keys/keysform.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/search.gif" ALT="Search"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/faqs/top.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/faqs.gif" ALT="FAQs"></A>  <A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/0.html"><IMG ALIGN=MIDDLE SRC="/afs/cs.cmu.edu/project/ai-repository/ai/html/gif/top.gif" ALT="Repository Root"></A>  </tt>
<hr>
<H2>MOP: Specification for the CLOS Metaobject Protocol</H2>
<pre>
<A HREF="./">lang/lisp/doc/standard/ansi/mop/</A>
</pre>
<listing>
Contains the CLOS Metaobject Protocol specification, which appears
as chapters 5 and 6 of the book
   Gregor Kiczales, Jim des Rivieres, and Daniel G. Bobrow, "The
   Art of the Metaobject Protocol", MIT Press, 1991. 335 pages.
   ISBN 0-262-61074-4  
We recommend buying a copy of the book, which contains a lot of
additional useful explanatory material beyond the specification.
</listing>
<pre>
See Also: 

   <A HREF="/afs/cs/project/ai-repository/ai/lang/lisp/oop/clos/0.html">lang/lisp/oop/clos/</A>
</pre>
<pre>
Origin:   

   <A HREF="ftp://parcftp.xerox.com/pub/pcl/mop/">parcftp.xerox.com:/pub/pcl/mop/*</A>
</pre>
<hr>
<listing>
Copying:      Copyright (c) 1991 by MIT Press.
              Free use, copying, distribution.

CD-ROM:       Prime Time Freeware for AI, Issue 1-1

Author(s):    Gregor Kiczales <gregor@parc.xerox.com>
              Jim des Rivieres <desrivieres@parc.xerox.com>
              Daniel G. Bobrow <bobrow@parc.xerox.com>
              
              Xerox Palo Alto Research Center

Contact:      mops@parc.xerox.com or mop@xerox.com
              
              Gregor Kiczales <gregor@parc.xerox.com>
              Xerox PARC
              3333 Coyote Hill Rd.
              Palo Alto, CA 94304
              Tel: 415-812-4888
              Fax: 415-812-4334

Keywords:

   ANSI Lisp, Authors!Bobrow, Authors!Kiczales, 
   Authors!des Rivieres, CLOS!Standards, CLOSETTE, 
   Lisp!Standards, MOP, Standards!MOP, Xerox PARC

References:   ?

</listing><hr>
<address>Last Web update on Mon Feb 13 10:31:05 1995 <br>
<A HREF="/afs/cs.cmu.edu/project/ai-repository/ai/html/air.html">AI.Repository@cs.cmu.edu</A></address>
